h1{
    font-size: 25px !important;
}
.groupBlock{
    padding:20px;
}
.groupTitle{
    font-size: 20px;
    margin-bottom: 10px;
    background-color: #698f88;
    padding: 10px 40px;
    font-weight: bold;
}
.groupDescription{
    font-size: 14px;
    padding-left: 10px;
}